#map
{
    height: 87%;

}

html, body
{
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar.justify-content-center{
    left: 50%;
    transform: translatex(-50%);
}

img{
    margin-right: 10px;
    margin-left: 10px;
}