#map
{
    height: 87%;

}

html, body
{
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar.justify-content-center{
    left: 50%;
    transform: translatex(-50%);
}

img{
    margin-right: 10px;
    margin-left: 10px;
}

.leaflet-popup-content-wrapper{
    font-size: medium;
    text-align: center;
    box-shadow: none;
    background: #343a40;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.leaflet-popup-tip{
    background: #343a40;
}

.modal-content{
    text-align:justify ;
}
